<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <span>
        <span class="navbar-brand font-weight-bold" th:text="${user.email}"></span>
        <span class="navbar-brand" th:text="' with roles:'"></span>
        <span class="navbar-brand" sec:authorize="hasRole('ROLE_ADMIN')">ADMIN</span>
        <span class="navbar-brand">USER</span>
    </span>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row vh-100">
        <div class="col-md-2 m-0 p-0 bg-white pt-4">
            <ul class="nav nav-pills flex-column" id="adminTab" role="tablist">
                <li class="nav-item">
                    <a href="#adminMainTab" class="nav-link" role="tab" data-toggle="tab">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="#userTab" class="nav-link" role="tab" data-toggle="tab">User</a>
                </li>
            </ul>
        </div>

        <div class="container col-md-10 bg-light pt-4">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="adminMainTab">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#userTable">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content border rounded">
                        <div class="tab-pane active" id="userTable">
                            <h5 class="p-2 pl-3 m-0 rounded">All users</h5>
                            <table class="table table-striped bg-white">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Age</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="allUsersTable"></tbody>
                            </table>
                        </div>

                        <div class="tab-pane bg-white" id="newUser">
                            <h5 class="p-2 pl-3 m-0 rounded bg-light">Add new user</h5>
                            <div class="row pt-3 pb-3">
                                <div class="col-md-4 mx-auto col text-center">
                                    <form class="newUserFormClass" id="newUserForm">
                                        <div class="form-group text-center font-weight-bold">
                                            <label>First name
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="newFirstname" name="firstName">
                                            </label>
                                            <br>
                                            <label>Last name
                                                <input type="text"
                                                       class="form-control form-control-sm"
                                                       id="newLastname" name="lastName">
                                            </label>
                                            <br>
                                            <label>Age
                                                <input type="number"
                                                       class="form-control form-control-sm"
                                                       id="newAge" name="age">
                                            </label>
                                            <br>
                                            <label>Email
                                                <input type="email"
                                                       class="form-control form-control-sm"
                                                       id="newEmail" name="email">
                                            </label>
                                            <br>
                                            <label>Password
                                                <input type="password"
                                                       class="form-control form-control-sm"
                                                       id="newPassword" name="password">
                                            </label>
                                            <br>
                                            <label>Role
                                                <select id="newRole" class="form-control form-control-sm"
                                                        size="2" name="nameRoles" multiple="multiple">
                                                    <option th:each="role : ${roles}" th:value="${role.role}" th:text="${role.role}"
                                                            th:selected="${role.role} == USER"></option>
                                                </select>
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-success"> Add new user </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="editModal" tabindex="-1"
                             aria-labelledby="modalLabel" aria-hidden="true" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Edit user</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="text-align: center;">
                                            <div class="row justify-content-center align-items-center">
                                                <form id="editUserForm">
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label>ID
                                                            <input type="number"
                                                                   class="form-control form-control-sm"
                                                                   id="editId" name="id" readonly>
                                                        </label>
                                                        <br>
                                                        <label>First name
                                                            <input type="text"
                                                                   class="form-control form-control-sm"
                                                                   id="editFirstname" name="firstName">
                                                        </label>
                                                        <br>
                                                        <label>Last name
                                                            <input type="text"
                                                                   class="form-control form-control-sm"
                                                                   id="editLastname" name="lastName">
                                                        </label>
                                                        <br>
                                                        <label>Age
                                                            <input type="number"
                                                                   class="form-control form-control-sm"
                                                                   id="editAge" name="age">
                                                        </label>
                                                        <br>
                                                        <label>Email
                                                            <input type="email"
                                                                   class="form-control form-control-sm"
                                                                   id="editEmail" name="email">
                                                        </label>
                                                        <br>
                                                        <label>Password
                                                            <input type="password"
                                                                   class="form-control form-control-sm"
                                                                   id="editPassword" name="password">
                                                        </label>
                                                        <br>
                                                        <label>Role
                                                            <select id="editRole" class="form-control form-control-sm"
                                                                    size="2" name="nameRoles" multiple="multiple">
                                                                <option th:each="role : ${roles}" th:value="${role.role}" th:text="${role.role}"
                                                                        th:selected="${role.role} == USER"></option>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal" onclick="closeForm()">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary"
                                                onclick="updateUser()">Edit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="deleteModal" tabindex="-1"
                             aria-labelledby="modalLabel" aria-hidden="true" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete user</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div style="text-align: center;">
                                            <div class="row justify-content-center align-items-center">
                                                <form id="deleteUserForm">
                                                    <div class="form-group text-center font-weight-bold">
                                                        <label>ID
                                                            <input type="number"
                                                                   class="form-control form-control-sm"
                                                                   id="deleteId" name="id"
                                                                   readonly>
                                                        </label>
                                                        <br>
                                                        <label>First name
                                                            <input type="text"
                                                                   class="form-control form-control-sm"
                                                                   id="deleteFirstname" name="firstName" readonly>
                                                        </label>
                                                        <br>
                                                        <label>Last name
                                                            <input type="text"
                                                                   class="form-control form-control-sm"
                                                                   id="deleteLastname" name="lastName" readonly>
                                                        </label>
                                                        <br>
                                                        <label>Age
                                                            <input type="number"
                                                                   class="form-control form-control-sm"
                                                                   id="deleteAge" name="age" readonly>
                                                        </label>
                                                        <br>
                                                        <label>Email
                                                            <input type="email"
                                                                   class="form-control form-control-sm"
                                                                   id="deleteEmail" name="email" readonly>
                                                        </label>
                                                        <br>
                                                        <label>Role
                                                            <select id="deleteRole" class="form-control form-control-sm"
                                                                    size="2" name="nameRoles"
                                                                    multiple="multiple" readonly>
                                                            </select>
                                                        </label>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal" onclick="closeForm()">Close
                                        </button>
                                        <button type="submit" class="btn btn-danger"
                                                onclick="deleteUser()">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane" id="userTab">
                    <div class="container-fluid">
                        <div class="row vh-100">
                            <div class="container col-md-10 bg-light pt-4">
                                <h1>User information-page</h1>
                                <h5 class="p-2 pl-3 m-0 rounded">About user</h5>
                                <table class="table table-striped bg-white">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Age</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getFirstName()}"></td>
                                        <td th:text="${user.getLastName()}"></td>
                                        <td th:text="${user.getAge()}"></td>
                                        <td th:text="${user.getEmail()}"></td>
                                        <td>
                                            <div th:each="role : ${user.getRoles()}">
                                                <p th:text="${role.getRole()}"></p>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/main.js"></script>
</body>
</html>